.btn {
  border: 2px solid $white;
  border-radius: 0;
  padding: 10px 32px;
  
  &:focus, &:hover {
    background: $white;
    box-shadow: none;
  }

  font-size: 1.125rem;
  
  color: $white;
  font-weight: 600;

  &--uppercase {
    text-transform: uppercase;
  }

  &--red {
    color: $mainRed;
    border-color: $mainRed;
    
    &:focus, &:hover {
      color: $white;
      background-color: $mainRed;
    }
  }

}