.btn {
  border: 2px solid $white;
  border-radius: 0;
  
  color: $white;
  font-weight: 600;

  &--uppercase {
    text-transform: uppercase;
  }

  &--red {
    color: $mainRed;
    border-color: $mainRed;
    
    &:hover {
      color: $white;
      background-color: $mainRed;
    }
  }

}