.carousel {

    &__overlay {
        width: 100%;
        height: 100%;

        position: absolute;
        z-index: 1;

        background-color: $mainBlue;
        opacity: .5;
    }

    &__title {
        font-size: 4.5rem;
        font-weight: 700;
        text-transform: uppercase;
    }
}