@keyframes example {
  50% {opacity: 0;}
  100% {opacity: 1;}
}

.carousel {

  &__overlay {
    width: 100%;
    height: 100%;

    position: absolute;
    z-index: 1;

    background-color: $mainBlue;
    opacity: .5;
  }

  &-caption {
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    &__vertical-center {
      width: 100%;

      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

  }

  &__title {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 160px;
    
    @include atMedium {
      font-size: 4rem;
    }

    animation-name: example;
    animation-duration: 1s;
  }
}