.game {
  margin-bottom: 8px;
 
  
  /* ------- date ------- */
  &__date {
    width: 80px;
    height: 80px;
    text-align: center;

    background-color: #EAEAEC;
    float: left;
  }
  
  &__day {
    display: block;
    margin-bottom: -8px ;

    font-size: 1.75rem;
    font-weight: 600;
    
    color: $mainRed;
  }
  
  &__month {
    display: block;

    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;

    color: $mainBlue;
  }
  
  /* ------- content ------- */
  &__content {
    width: 100%;
    max-width: 700px;
    height: 80px;

    background-color: $white;
    position: relative;

    float: left;
  }

  // player
  &__player {
    width: 50%;
    height: 100%;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &--one {
      padding-left: 24px;
      text-align: left;
      left: 0;

      background-color: green;
    }
    
    &--two {
      padding-right: 24px;
      text-align: right;
      right: 0;

      background-color: purple;
    }
  }

  &__player-thumb {
    width: 50px;
    height: auto;
    background-color: #fff;
  }

  &__player-name {
    font-size: 1rem;
    font-weight: 600;
    color: $mainBlue;
    
    @include atSmall {
      font-size: 1.75rem;
    }
  }

  // time
  &__time {
    display: none;
    width: 100%;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    // font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: $mainRed;
    
    @include atSmall {
      font-size: 1.75rem;
      display: block;
    }
  }
  
}