.navbar {
  z-index: 1;
  transition: .2s;
  
  &--dark-blue {
    background-color: #1C2334;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .3);
  }

  @include atSmall {
    height: 100px;
  }

  &__img {
    position: absolute;
    top: 10px;
    width: 50px;
    @include atSmall {
      width: 100px;
    }
  }
}