$navbarHeightSmall: 64px;
$navbarHeightLarge: 100px;
$navbarTriangle: 40px;

.navbar {

  &-bg {
    background-color: $mainBlue;

    @include atMedium {
      background-color: $white;
    }
  }

  &-toggler {
    color: $white;
  }
  

  transition: .2s;
  padding: 0 !important;
  
  /* ----------- logo -----------*/
  &__logo-container {
    // display: inline;

    width: 100px;
    height: $navbarHeightSmall;

    margin-right: $navbarTriangle;
    margin-left: -80px;
    padding-left: 80px;

    position: relative;

    @include atSmall {
      width: 300px;
      height: $navbarHeightLarge;
      background-color: $mainRed;

      /* ----------- triangle -----------*/
      &::after {
        content: "";
        width: $navbarTriangle;
        height: $navbarHeightLarge;
        
        border-top: ($navbarHeightLarge/2) solid $mainRed;
        border-right: ($navbarTriangle/2) solid transparent;
        border-bottom: ($navbarHeightLarge/2) solid transparent;
        border-left: ($navbarTriangle/2) solid $mainRed;
        
        position: absolute;
        top: 0;
        right: -$navbarTriangle;
      }
    }
  }

  // make the social icons display inline
  .navbar-nav--social {
    flex-direction: row;
  }

  /* ----------- menu -----------*/
  .nav-item {
    // menu
    @include atMedium {
      padding-right: 8px;
    }

    // social
    &--social {
      @include atMedium {
        padding-left: 8px;
      }
    }
  }

  // menu
  .nav-link {
    margin: 0 -16px;
    padding: 24px 16px !important;

    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: $white;
    
    transition: .2s;
    
    @include atMedium {
      margin: 0;
      padding: 4px 24px !important;
      color: $mainBlue;
    }

    // social
    &--social {
      display: block;
      width: 52px;
      height: 52px;
      padding: 15px;

      font-size: 20px;
      text-align: center;
      line-height: 1.2;

      color: $white;
      background-color: $mainBlue;

      transition: .2s;
      
      &:focus, &:hover {
        background-color: $mainRed;
      }

      @include atMedium {
        
      }
    }

    &:hover, &:focus {
      color: $white !important;
      background-color: $mainRed;
    }
  }

  /* ----------- logo -----------*/
  &__img {
    width: 50px;
    margin-top: 5px;

    @include atSmall {
      margin-top: 25px;
    }
  }
}

// fix collapsing animation
.collapsing {
  padding: 0 16px;
  margin: 0 -16px; 
}