.swiper-container {
  height: 300px;
}

.swiper-slide {
  height: 100px;
  background-size: cover;
  background-position: center;
  position: relative;

  &__content {
    width: 100%;
    padding: 10px 0;
    color: white;
    background-color: rgba(255, 0, 0, .3);
    text-align: center;
    position: absolute;
    bottom: 0;
    transition: .2s;

    @include atMedium {
      transform: translateY(50%);
    }
  }

  &:hover > &__content {
    transform: translateY(0);
  }

  &__name {

  }

  &__job {
    // margin: 0;

  }

  &:nth-child(1) {
    background-image: url("assets/images/profiles/nilda-dias.jpg");
  }

  &:nth-child(2) {
    background-image: url("assets/images/profiles/elias-marques.jpg");
  }

  &:nth-child(3) {
    background-image: url("assets/images/profiles/alex-pinheiro.jpg");
  }

  &:nth-child(4) {
    background-image: url("assets/images/profiles/raquel-laureano.jpg");
  }

  &:nth-child(5) {
    background-image: url("assets/images/profiles/fernanda-sa.jpg");
  }

  &:nth-child(6) {
    background-image: url("assets/images/profiles/romulo-silva.jpg");
  }

  &:nth-child(7) {
    background-image: url("assets/images/profiles/hugo-souto.jpg");
  }

}