.about {
  background-color: #F5F5F7;
  position: relative;

  &__info {
    margin-bottom: 40px;
  }

  &__title {
    margin: 0;

    font-size: 1.75rem;
    font-weight: 600;
    color: $mainGrey;
  }
  
  &__text {
    margin: 0;
    
    font-size: 1.125rem;
    font-weight: 600;
    color: $mainBlue;
  }

  /* ------- kids ------- */
  @include atMedium {
    &__kids-container {
      width: 40%;
      height: 100%;

      box-sizing: content-box;
      padding-bottom: 16px;

      position: absolute;
      top: -16px;
      left: 0;
      z-index: 2;
    }
  

    // pic
    &__kids-pic {
      background-image: url("../assets/images/kids/kids-many-portrait.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 0 center;

      width: 115%;
      height: 100%;

      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -25%;

      @include atLarge {
        width: 90%;
        left: -5%;
      }
    }

    // bg
    &__kids-bg {
      width: 100%;
      height: 100%;

      transform: skew(-10deg);
      background-color: $mainRed;

      position: absolute;
      top: 0;
      left: -200px;

      @include atLarge {
        width: 80%;
      }
    }
  }

}