.contact {
  background-color: #1C2335;
  
  input, textarea {
    color: white;
    background-color: #262C3C !important;
    border: none;

    &, &:hover, &:focus, &:active {
      color: white;
      background-color: #262C3C;
    }
  }

  
}