.donations {
  position: relative;

  background-image: url("../assets/images/backgrounds/donations.jpg");
  background-size: cover;
  

  @include atMedium {
    height: 500px;
  }

  @include atLarge {
    height: 700px;
  }

  &__container {
    
  }
  
  &__content {
    font-size: 1rem;
    color: $grey3;

    @include atSmall {
      font-size: 1.5rem;
    }
  }

  /* ------- kids ------- */
  &__kids-container {
    overflow: hidden;

    width: 50%;
    height: 80%;

    position: absolute;
    bottom: -16px;
    right: 0;
    z-index: 2;
  }


  // pic
  &__kids-pic {
    background-image: url("../assets/images/kids/kids-back.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 center;

    width: 115%;
    height: 100%;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15%;

    @include atLarge {
      width: 90%;
      left: 0;
    }
  }

  // bg
  &__kids-bg {
    width: 115%;
    height: 100%;

    transform: skew(-25deg);
    background-color: $mainRed;

    position: absolute;
    top: 0;
    right: -200px;

    @include atLarge {
      width: 100%;
      // right: -200px;
    }
  }

  
}