.footer {
  background-color: #171E2D;
  color: white;
  
  &__content {
    margin: 0;
    font-size: 1rem;
    padding-top: 20px;
    text-align: center;
    float: left;
  }

  /* ---------- social links ---------- */ 
  &__social {
    width: 167px;
    margin: 0;
    padding: 8px 0;
    list-style: none;
    float: right;
  }

  &__item {
    float: left;
    margin-right: 8px;
    &:last-of-type {
      margin: 0;
    }
  }

  &__link {
    background-color: #1C2335;
    color: white;
    display: block;
    width: 50px;
    height: 50px;

    font-size: 2rem;
    text-align: center;

    transition: .2s;
    &:hover {
      background-color: #CB1A2B;
      color: white;
    }
  }
}