.games {
  background-image: url("../assets/images/backgrounds/grass.jpg");
  position: relative;
  
  /* ------- kids ------- */
  @include atMedium {
    &__kids-container {
      overflow: hidden;
      width: 40%;
      height: 80%;

      box-sizing: content-box;
      padding-bottom: 16px;

      position: absolute;
      bottom: -16px;
      right: 0;
      z-index: 2;
    }
  

    // pic
    &__kids-pic {
      background-image: url("../assets/images/kids/kids-running.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 0 center;

      width: 70%;
      height: 100%;

      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 5%;

      @include atLarge {
        width: 80%;
        right: 15%;
      }
    }

    // bg
    &__kids-bg {
      width: 80%;
      height: 100%;

      transform: skew(-10deg);
      background-color: $mainBlue;

      position: absolute;
      top: 0;
      right: -100px;

      @include atLarge {
        width: 100%;
      }
    }
  }
}