.games {
  background-image: url("../assets/images/backgrounds/grass.jpg");
  
  &__container {
    padding-top: 80px;
  }

  /* ---------- component ---------- */ 
  &__component {
    position: relative;
    width: auto;
    max-width: 744px;

    &--after-first {
      margin-top: 30px;
    }

    @include atMedium {
      &--after-first {
        margin-top: 50px;
      }
    }

  }

  &__field {
    width: auto;
    max-width: 744px;
    display: block;
    margin: 0 auto;
  }

  /* ---------- date ---------- */ 
  &__date {
    color: white;
    width: 100%;
    text-align: center;
    font-size: 1.25rem;

    position: absolute;
    top: -40px;
    left: 0;

    &--after-first {
      font-size: 1.25rem;
    }

    @include atSmallest--teams {
      font-size: 2.25rem;
      top: -50px;
    }

    @include atMedium {
      &--after-first {
        font-size: 1.6rem;
      }
    }

    @include atLarge {
      &--after-first {
        font-size: 1.75rem;
      }
    }
  }

  /* ---------- teams ---------- */ 
  &__team {
    width: auto;
    height: 50px;
    position: absolute;
    top: -50px;

    &--left {
      left: 26%;
    }

    &--right {
      right: 26%;
    }

    @include atSmallest--teams {
      height: 60px;
    }

    @include atSmall {
      height: 80px;
    }

    @include atMedium {
      &--after-first {
        height: 60px;
      }
    }
  }

}

.col {
  
  @include atMedium {
    &--after-first {
      margin-top: -100px;
    }
  }
}