.news {

  background-image: url("assets/images/grass.png");
  background-size: cover;

  * {
    transition: .2s;
  }
  
  &--mb {
    margin-bottom: 16px;
    
    @include atMedium {
      margin-bottom: 0;
    }
    
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .card {
    border: none;
    overflow: hidden;

    &-img-container {
      overflow: hidden;
      position: relative;
    }

    &-img-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: green;
      opacity: 0;
      z-index: 1;
      transform: scaleX(.4);
    }

    :hover {
      .card-img-overlay {
        opacity: .2;
        transform: scaleX(1);
      }
      .card-img {
        transform: rotate(5deg) scale(1.2);
      }
    }
  }
  
  

  

}

