.news {
  background-image: url("assets/images/grass.png");
  background-size: cover;

  * {
    transition: .2s;
  }
  
  &--mb {
    margin-bottom: 16px;
    
    @include atMedium {
      margin-bottom: 0;
    }
    
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  :hover {
    a {
      text-decoration: none;
    }
  }

  .card {
    border: none;
    overflow: hidden;

    &-img-container {
      overflow: hidden;
      position: relative;
    }

    &-img-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $mainRed;
      opacity: 0;
      z-index: 1;
    }

    &-title {
      color: $mainRed;
    }
    &-text {
      color: $mainBlue;
    }

    :hover {
      .card-img-overlay {
        opacity: .5;
      }
    }
  }

}

