.team {
  background-color: #F5F5F7;

  padding-bottom: 40px;

  @include atLarge {
    padding-bottom: 0;
  }

  &__title {
    margin-bottom: 12px;

    font-size: 1.75rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $mainRed;
  }


  
}