mark,
::selection {
  // color: #fff !important;
  // background-color: $brand-1 !important;
}

textarea {
  resize: vertical;
}

body {
  // padding-top: 56px;
  
  // @include atSmall {
  //   padding-top: 100px;
  // }
  // background-color: red !important;
}

.container-fluid {
  padding: 0px 16px !important;
  
  @include atMedium {
    padding: 0px 80px !important;
  }
}