mark,
::selection {
  // color: #fff !important;
  // background-color: $brand-1 !important;
}

textarea {
  resize: vertical;
}

body {
  padding-top: 64px;
  
  @include atSmall {
    padding-top: 100px;
  }
}

.container-fluid {
  padding: 0 16px !important;
  
  @include atMedium {
    padding: 0 80px !important;
  }

}

.vertical-padding {
  padding: 30px 0;
  
  @include atMedium {
    padding: 60px 0;
  }

  @include atLarge {
    padding: 120px 0;
  }
}