@font-face {
  font-family: "sketch";
  src: url("assets/fonts/Sketch_College.ttf");
}

body {
  // font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

* {
  font-family: 'Open Sans', sans-serif;
}

.main-title {
  font-family: "sketch";
  font-size: 4rem;
  color: white;

  &--dark {
    color: black;
  }

  &--blue {
    color: $mainBlueDark;
  }

  &--red {
    color: $mainRed;
  }
  
  @include atSmall {
    font-size: 6rem;
  }


}