@font-face {
  font-family: "sketch";
  src: url("../assets/fonts/Sketch_College.ttf");
}

body {
  // font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

* {
  font-family: 'Open Sans', sans-serif;
}

.main-title {
  margin: 0;

  font-family: "sketch";
  font-size: 2.5rem;
  color: $white;

  @include atMedium {
    font-size: 3.75rem;
  }

  &--margin-bottom {
    margin-bottom: 20px;
    
    @include atMedium {
      margin-bottom: 40px;
    }
  }

  &--blue {
    color: $mainBlue;
  }

  &--red {
    color: $mainRed;
  }
  
}