$tablet-width: 768px;
$desktop-width: 1024px;

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

@mixin atSmallest {
  @media (min-width: 576px) {
    @content;
  }
}

@mixin atSmallest--teams {
  @media (min-width: 480px) {
    @content;
  }
}

@mixin atSmall {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin atMedium {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin atLarge {
  @media (min-width: 1200px) {
    @content;
  }
}
