$mono-1:  #000;
$mono-2:  #000;
$mono-3:  #000;

$poly-1:  #000;
$poly-2:  #000;
$poly-3:  #000;

$brand-1: #000;
$brand-2: #000;
$brand-3: #000;

$mainBlue: #273147;
$mainRed: #CB1A2B;

$mainBlueDark: #1C2334;