$mainBlue: #273147;
$mainRed: #CB1A2B;
$mainGrey: #A1A2A7;

$mainBlueDark: #1C2334;

$theme-colors: (
  "primary": $mainBlue,
  "danger": $mainRed
);

$white: #FFFFFF;
$grey1: #F5F5F5;
$grey2: #EBEBEB;
$grey3: #CCCCCC;
$grey4: #999999;
$grey5: #666666;
$black: #333333;
